<template>
  <div>
    <h2>Create a Post</h2>
    <form @submit.prevent="handleSubmit">
      <div>
        <label for="title">Title:</label>
        <input type="text" id="title" v-model="title" required>
      </div>
      <div>
        <label for="content">Content:</label>
        <textarea id="content" v-model="content" required></textarea>
      </div>
      <button type="submit">Create Post</button>
    </form>
  </div>
</template>

<script>
export default {
  data() {
    return {
      title: '',
      content: ''
    };
  },
  methods: {
    handleSubmit() {
      const newPost = {
        title: this.title,
        content: this.content
      };
      this.$emit('create', newPost);
      this.title = '';
      this.content = '';
    }
  }
};
</script>

<style scoped>
/* Add your component's style here */
</style>
