<template>
  <div>
    <h2>Posts</h2>
    <ul>
      <li v-for="(post, index) in posts" :key="index">
        <strong>{{ post.title }}</strong>
        <p>{{ post.content }}</p>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  props: {
    posts: {
      type: Array,
      required: true
    }
  }
};
</script>

<style scoped>
/* Add your component's style here */
</style>
