<template>
  <div id="app">
    <post-form @create="handleCreatePost" />
    <post-list :posts="posts" />
  </div>
</template>

<script>
import axios from 'axios';
import PostForm from './components/PostForm.vue';
import PostList from './components/PostList.vue';

export default {
  name: 'App',
  components: {
    PostForm,
    PostList
  },
  data() {
    return {
      posts: []
    };
  },
  methods: {
    async handleCreatePost(newPost) {
      try {
        // Make a POST request to your Express server
         await axios.post('http://192.168.96.134:3000/posts', newPost);
        // If the request is successful, add the new post to the list of posts
        this.posts.push(newPost);
      } catch (error) {
        console.error('Error creating post:', error);
      }
    },
    async fetchPosts() {
      try {
        // Make a GET request to fetch all posts from your Express server
        const response = await axios.get('http://192.168.96.134:3000/posts');
        // Update the list of posts with the fetched data
        this.posts = response.data;
      } catch (error) {
        console.error('Error fetching posts:', error);
      }
    }
  },
  created() {
    // Fetch posts when the component is created
    this.fetchPosts();
  }
};
</script>
